<div class="flex flex-col w-full h-full justify-end items-end  pt-7 px-4 bg-gray-100">
  <div class="flex flex-row w-[86%] justify-between  -my-2 py-2 overflow-x-auto sm:-mx-6 sm:px-6 lg:-mx-8 pr-10 lg:px-8">
    <div class="flex flex-row justify-end w-[25%] mb-4 ">
      <input  placeholder="My Workspace" value="My Workspace" class=" text-center bg-gray-100 hover:bg-gray-100 font-medium py-4 px-2 rounded cursor-pointer shadow focus:bg-gray-400 ">

    </div>
    <div class="flex flex-col items-end w-[25%] mb-4  pt-4">
      <button type="button" class="text-white bg-black  focus:ring-4 focus:outline-none focus:ring-[#050708]/50 font-medium rounded-lg text-sm px-4 py-3 text-center inline-flex items-center dark:focus:ring-[#050708]/50 dark:hover:bg-white/30 me-2 mb-2">
        create new exam
      </button>
    </div>
  </div>
  <div class="flex flex-1 flex-col w-[86%] h-full items-center  pt-7 px-4 ">
    <div class="flex flex-1 pt-7 h-full ">
      <img src="assets/dash.jpg" class="h-[100%] pt-7">
    </div>
    <div class="flex flex-1 pt-4">
      <h1 class="font-serif text-2xl">There’s not a exam in sight</h1>
    </div>
    <div class="flex flex-1 pt-3" >
      <h3 class="font-serif text-gray-800">Click on “Create new exam”</h3>
    </div>
    <div class="flex  mb-4  pt-4">

      <button  type="button" class="text-white bg-black hover:bg focus:ring-4 focus:outline-none focus:ring-[#050708]/50 font-medium rounded-lg text-sm px-4 py-3 text-center inline-flex items-center dark:focus:ring-[#050708]/50 dark:hover:bg-[#050708]/30 me-2 mb-2">
        create new exam
      </button>

    </div>
  </div>
</div>

