<div class="flex flex-col w-full h-full pt-7 px-4 ">
  <div class="flex flex-row justify-between  -my-2 py-2 overflow-x-auto sm:-mx-6 sm:px-6 lg:-mx-8 pr-10 lg:px-8">
    <div class="flex flex-row justify-end mb-4 ">
      <input  placeholder="My Workspace" value="My Workspace" class=" text-center bg-gray-100 hover:bg-gray-100 font-medium py-4 px-2 rounded cursor-pointer shadow focus:bg-gray-400 ">

    </div>
    <div class="flex flex-col items-end w-[25%] mb-4  pt-4">
      <button (click)="onClick()" type="button" class="text-white bg-black  focus:ring-4 focus:outline-none focus:ring-[#050708]/50 font-medium rounded-lg text-sm px-4 py-3 text-center inline-flex items-center dark:focus:ring-[#050708]/50 dark:hover:bg-white/30 me-2 mb-2">
        create new exam
      </button>
    </div>
  </div>

  <div *ngIf="empty" class="subjectBox flex flex col-auto ">
    <div class="row flex flex-1 w-screen">
      <div class="col-md-3 col-sm-12" *ngFor="let item of subjects;let index=index" routerLink="/exam/{{item.id}}">
        <div class="namesubject">
          <div>{{item.TestName}}</div>
        </div>
        <div class="subBtn flex  justify-center">
          <button mat-raised-button color="primary"  class="mx-1" >display</button>
          <button mat-raised-button color="warn"  class="mx-1" (click)="delete(index)">delete</button>


        </div>
      </div>
    </div>
    <div class="subjectBox flex flex col-auto invisible">
      <div class="row flex flex-1 w-screen">
        <div class="col-md-3 col-sm-12" *ngFor="let item of subjects;let index=index" routerLink="/exam/{{item.id}}">
          <div class="namesubject">
            <div>{{item.TestName}}</div>
          </div>
          <div class="subBtn flex  justify-center">
            <button mat-raised-button color="primary"  class="mx-1" >display</button>
            <button mat-raised-button color="warn"  class="mx-1" (click)="delete(index)">delete</button>


          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="!empty" class="flex flex-1 flex-col h-full items-center  pt-7 px-4 ">
    <div class="flex flex-1 pt-7 h-full ">
      <img src="assets/dash.jpg" class="h-[100%] pt-7">
    </div>
    <div class="flex flex-1 pt-4">
      <h1 class="font-serif text-2xl">There’s not a exam in sight</h1>
    </div>
    <div class="flex flex-1 pt-3" >
      <h3 class="font-serif text-gray-800">Click on “Create new exam”</h3>
    </div>
    <div class="flex  mb-4  pt-4">

      <button  (click)="onClick()" type="button" class="text-white bg-black hover:bg focus:ring-4 focus:outline-none focus:ring-[#050708]/50 font-medium rounded-lg text-sm px-4 py-3 text-center inline-flex items-center dark:focus:ring-[#050708]/50 dark:hover:bg-[#050708]/30 me-2 mb-2">
        create new exam
      </button>

    </div>

  </div>
</div>


