<!-- <main class="container grid grid-cols-1 md:grid-cols-12 w-screen">
  <app-side-bar class="md:col-span-3 hidden md:flex"></app-side-bar>
  <div class="md:col-span-9 w-full"><router-outlet></router-outlet></div>
</main> -->

<main class="container w-screen">
  <div><app-sidenav></app-sidenav>
  <div class="ml-20"><router-outlet></router-outlet></div>
    <!-- <div class="flex w-1/4 flex-1 justify-center"><button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full" (click)="onLogOut()">
      Button
    </button>
  </div> -->
</div>
</main>

