
  <div class="subjectBox">
    <div class="row">
      <div class="col-md-3 col-sm-12" *ngFor="let item of subjects;let index=index" routerLink="/exam/{{item.id}}">
        <div class="namesubject">
          <div>{{item.TestName}}</div>
        </div>
        <div class="subBtn">
          <button mat-raised-button color="primary"  class="mx-1" >display</button>
          <button mat-raised-button color="warn"  class="mx-1" (click)="delete(index)">delete</button>


        </div>
      </div>
  </div>

